<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xw.app.dao.BookModelMapper" >
  <resultMap id="BaseResultMap" type="com.xw.app.model.BookModel" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from book
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xw.app.model.BookModel" >
    insert into book (id, title, code)
    values (#{id,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{code,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xw.app.model.BookModel" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xw.app.model.BookModel" >
    update book
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xw.app.model.BookModel" >
    update book
    set title = #{title,jdbcType=VARCHAR},
      code = #{code,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>